.box-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 30%;
    padding: 20px 0px 15px;
    margin-top: 10px;
    background-color: white ;
    border-radius: 10%;
    color: white;
}:hover{
    color:black;
    font-weight: lighter;
}
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 0.8 rem;
    margin-bottom: 1rem;
 }
.content{
    margin-left: 27px;
    margin-right: 25px;
}
